@font-face {
  font-family: "NeueHaasDisplay";
  font-display: swap;
  src: url("../fonts/NeueHaasDisplayThin.woff") format("woff"), url("../fonts/NeueHaasDisplayThin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "NeueHaasDisplay";
  font-display: swap;
  src: url("../fonts/NeueHaasDisplayThinItalic.woff") format("woff"), url("../fonts/NeueHaasDisplayThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "NeueHaasDisplayX";
  font-display: swap;
  src: url("../fonts/NeueHaasDisplayXThin.woff") format("woff"), url("../fonts/NeueHaasDisplayXThin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "NeueHaasDisplayX";
  font-display: swap;
  src: url("../fonts/NeueHaasDisplayXThinItalic.woff") format("woff"), url("../fonts/NeueHaasDisplayXThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "NeueHaasDisplayXX";
  font-display: swap;
  src: url("../fonts/NeueHaasDisplayXXThin.woff") format("woff"), url("../fonts/NeueHaasDisplayXXThin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "NeueHaasDisplayXX";
  font-display: swap;
  src: url("../fonts/NeueHaasDisplayXXThinItalic.woff") format("woff"), url("../fonts/NeueHaasDisplayXXThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "NeueHaasDisplay";
  font-display: swap;
  src: url("../fonts/NeueHaasDisplayLight.woff") format("woff"), url("../fonts/NeueHaasDisplayLight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "NeueHaasDisplay";
  font-display: swap;
  src: url("../fonts/NeueHaasDisplayLightItalic.woff") format("woff"), url("../fonts/NeueHaasDisplayLightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "NeueHaasDisplayMediu";
  font-display: swap;
  src: url("../fonts/NeueHaasDisplayMediu.woff") format("woff"), url("../fonts/NeueHaasDisplayMediu.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "NeueHaasDisplayRoman";
  font-display: swap;
  src: url("../fonts/NeueHaasDisplayRoman.woff") format("woff"), url("../fonts/NeueHaasDisplayRoman.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "NeueHaasDisplayRoman";
  font-display: swap;
  src: url("../fonts/NeueHaasDisplayRomanItalic.woff") format("woff"), url("../fonts/NeueHaasDisplayRomanItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "NeueHaasDisplay";
  font-display: swap;
  src: url("../fonts/NeueHaasDisplayMediumItalic.woff") format("woff"), url("../fonts/NeueHaasDisplayMediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "NeueHaasDisplay";
  font-display: swap;
  src: url("../fonts/NeueHaasDisplayBold.woff") format("woff"), url("../fonts/NeueHaasDisplayBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "NeueHaasDisplay";
  font-display: swap;
  src: url("../fonts/NeueHaasDisplayBoldItalic.woff") format("woff"), url("../fonts/NeueHaasDisplayBoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "NeueHaasDisplay";
  font-display: swap;
  src: url("../fonts/NeueHaasDisplayBlack.woff") format("woff"), url("../fonts/NeueHaasDisplayBlack.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "NeueHaasDisplay";
  font-display: swap;
  src: url("../fonts/NeueHaasDisplayBlackItalic.woff") format("woff"), url("../fonts/NeueHaasDisplayBlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: scrollbar;
  overflow: auto;
}
html.js-popup-active, html.js-menu-active {
  overflow: hidden;
}

body {
  font-family: "NeueHaasDisplay-", sans-serif, "Roboto", sans-serif;
  font-size: 16px;
  color: #202329;
  line-height: 1.65;
  font-weight: 300;
  background-color: #fff;
  letter-spacing: 0.025em;
  min-width: 320px;
  position: relative;
  overflow: hidden;
}

button,
input {
  font-family: "NeueHaasDisplay-", sans-serif;
  font-size: 16px;
}

button {
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  border: none;
}

input,
textarea {
  outline: none;
}
input:focus:required:invalid,
textarea:focus:required:invalid {
  border-color: red;
}
input:required:valid,
textarea:required:valid {
  border-color: green;
}

input,
textarea,
button,
select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input:focus,
textarea:focus,
button:focus,
select:focus {
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

img,
svg {
  vertical-align: middle;
}

b,
strong {
  font-weight: 700;
}

a {
  color: #202329;
  outline: none;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
a:focus {
  outline: none;
}
a:hover, a:focus {
  text-decoration: none;
}

*[data-href] {
  cursor: pointer;
}

sup {
  display: inline-block;
  position: relative;
  -webkit-transform: scale(0.55);
      -ms-transform: scale(0.55);
          transform: scale(0.55);
  -webkit-transform-origin: left 0;
      -ms-transform-origin: left 0;
          transform-origin: left 0;
}

::-webkit-input-placeholder {
  color: #d0d0d0;
}

::-moz-placeholder {
  color: #d0d0d0;
}

:-ms-input-placeholder {
  color: #d0d0d0;
}

::-ms-input-placeholder {
  color: #d0d0d0;
}

::placeholder {
  color: #d0d0d0;
}
.input_white ::-webkit-input-placeholder {
  color: #fff;
}
.input_white ::-moz-placeholder {
  color: #fff;
}
.input_white :-ms-input-placeholder {
  color: #fff;
}
.input_white ::-ms-input-placeholder {
  color: #fff;
}
.input_white ::placeholder {
  color: #fff;
}
.js-input.js-error ::-webkit-input-placeholder {
  color: #f10b34;
}
.js-input.js-error ::-moz-placeholder {
  color: #f10b34;
}
.js-input.js-error :-ms-input-placeholder {
  color: #f10b34;
}
.js-input.js-error ::-ms-input-placeholder {
  color: #f10b34;
}
.js-input.js-error ::placeholder {
  color: #f10b34;
}

::-moz-selection {
  background-color: #9fc33c;
  color: #fff;
}

::selection {
  background-color: #9fc33c;
  color: #fff;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-lg {
  margin-top: 65px;
}
@media only screen and (max-width: 991.5px) {
  .mt-lg {
    margin-top: 40px;
  }
}

.mt-30 {
  margin-top: 30px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.ai-flex-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.025em;
}
@media only screen and (max-width: 991.5px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    letter-spacing: -0.025em;
    line-height: 1.5;
  }
}

.h1 {
  font-size: 64px;
  line-height: 1.3;
}
@media only screen and (max-width: 1229.5px) {
  .h1 {
    font-size: 56px;
  }
}
@media only screen and (max-width: 991.5px) {
  .h1 {
    font-size: 44px;
  }
}
@media only screen and (max-width: 766.5px) {
  .h1 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 479.5px) {
  .h1 {
    font-size: 39px;
  }
}

.h2 {
  font-size: 36px;
}
@media only screen and (max-width: 991.5px) {
  .h2 {
    font-size: 32px;
  }
}
.h2__bg {
  background-color: #f4f9e5;
  padding: 8px 12px;
  border-radius: 8px;
}
@media only screen and (max-width: 991.5px) {
  .h2__bg {
    padding: 5px 10px;
  }
}
@media only screen and (max-width: 991.5px) {
  .h2__bg-wrap {
    margin: 10px 0;
    display: block;
  }
}

.h3 {
  font-size: 20px;
}
@media only screen and (max-width: 991.5px) {
  .h3 {
    font-size: 18px;
  }
}
.h3--lg {
  font-size: 30px;
}
@media only screen and (max-width: 1229.5px) {
  .h3--lg {
    font-size: 26px;
  }
}
@media only screen and (max-width: 991.5px) {
  .h3--lg {
    font-size: 24px;
  }
}

.h4 {
  font-size: 18px;
  line-height: 1.3;
}

.h5 {
  font-size: 17px;
}

.h6 {
  font-size: 16px;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: 700;
}

.text-white {
  color: #fff;
}

.text-primary {
  color: #9fc33c;
}

.text-secondary {
  color: #f4f9e5;
}

.text-link {
  border-bottom: 1px solid transparent;
  -webkit-transition: color 0.3s, border-color 0.3s;
  transition: color 0.3s, border-color 0.3s;
}
.text-link:hover {
  color: #9fc33c;
  border-color: #9fc33c;
}
.text-link.text-underline {
  text-decoration: none;
  border-color: inherit;
  padding-bottom: 5px;
}
.text-link.text-underline.text-primary {
  border-color: #9fc33c;
}
.text-link.text-underline.text-secondary {
  border-color: #f4f9e5;
}
.text-link.text-underline--dashed {
  border-style: dashed;
}

.text-descr p {
  margin-top: 20px;
}
@media only screen and (max-width: 991.5px) {
  .text-descr p {
    margin-top: 15px;
  }
}
.text-descr p:first-child {
  margin-top: 0;
}

.items {
  padding-bottom: 1px;
  margin-bottom: -30px;
}
@media only screen and (max-width: 991.5px) {
  .items {
    margin-bottom: -16px;
  }
}
.items__item {
  position: relative;
  margin-bottom: 30px;
}
@media only screen and (max-width: 991.5px) {
  .items__item {
    margin-bottom: 16px;
  }
}
.items__descr {
  margin-top: 15px;
}

.item-bg {
  padding: 24px;
  border-radius: 5px;
  position: relative;
  z-index: 3;
}
.item-bg--grid {
  padding-left: 45px;
  padding-right: 45px;
}
@media only screen and (max-width: 991.5px) {
  .item-bg--grid {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.item-bg--grid .item-bg__bg {
  margin-left: 15px;
  margin-right: 15px;
}
@media only screen and (max-width: 991.5px) {
  .item-bg--grid .item-bg__bg {
    margin-left: 8px;
    margin-right: 8px;
  }
}
.item-bg--p-0 {
  padding: 0;
}
.item-bg--p-0.item-bg--grid {
  padding-left: 15px;
  padding-right: 15px;
}
.item-bg__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  border-radius: inherit;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: -1;
  -webkit-box-shadow: 0px 0px 21px 0px rgba(0, 113, 188, 0.13);
          box-shadow: 0px 0px 21px 0px rgba(0, 113, 188, 0.13);
  background-color: #fff;
}

.image {
  display: block;
  width: 100%;
  position: relative;
  border-radius: inherit;
  background-color: #d0d0d0;
}
.image::before, .image::after {
  content: "";
  display: block;
  border-radius: inherit;
  margin: auto;
  width: 100%;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.image::before {
  position: relative;
  padding-top: 71%;
}
.image::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.image picture,
.image img {
  border-radius: inherit;
}
.image img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.image {
  background-color: #f4f7fb;
}
.image--radius {
  border-radius: 5px;
}
.image--cover, .image--contain, .image--fill {
  background: center/cover no-repeat;
}
.image--cover img, .image--contain img, .image--fill img {
  width: 100% !important;
  height: 100% !important;
}
.image--cover img {
  -o-object-fit: cover;
     object-fit: cover;
  font-family: "object-fit: cover;";
}
.image--contain, .image--fill {
  background-color: transparent;
}
.image--contain img {
  -o-object-fit: contain;
     object-fit: contain;
  font-family: "object-fit: contain;";
}
.image--fill img {
  -o-object-fit: fill;
     object-fit: fill;
  font-family: "object-fit: fill;";
}
.image--circle {
  border-radius: 50%;
}
.image--circle::before {
  padding-top: 100%;
}
.image--author {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #9fc33c;
}
.image--author-lg {
  width: 100px;
  height: 100px;
}
.image--author-sm {
  width: 30px;
  height: 30px;
}

.image-hover {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  opacity: 0;
  overflow: hidden;
  border-radius: inherit;
  -webkit-transition: opacity 0.5s, background-color 0.5s;
  transition: opacity 0.5s, background-color 0.5s;
}
.image-hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  -webkit-transform: scale(5);
      -ms-transform: scale(5);
          transform: scale(5);
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  background: #9fc33c center/30% no-repeat;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.image-hover__text {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  padding: 0 10px;
  text-align: center;
  font-weight: 700;
  color: #fff;
  font-size: 16px;
  z-index: 3;
  opacity: 0;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.image-hover:hover {
  opacity: 1;
  background: rgba(0, 41, 63, 0.5);
}
.image-hover:hover::before {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.image-hover:active {
  opacity: 1;
  background: rgba(0, 41, 63, 0.9);
}
.image-hover:active::before {
  -webkit-transform: scale(0.75);
      -ms-transform: scale(0.75);
          transform: scale(0.75);
}
.image-hover:hover .image-hover__text {
  opacity: 1;
}
.image-hover__text:hover {
  color: #f4f9e5;
}

.btn-group {
  text-align: center;
  margin-bottom: -15px;
}
@media only screen and (min-width: 767px) {
  .btn-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media only screen and (min-width: 767px) {
  .btn-group .btn {
    margin-left: 8px;
    margin-right: 8px;
  }
}
@media only screen and (max-width: 766.5px) {
  .btn-group .btn {
    margin-bottom: 15px;
  }
}

.btn {
  position: relative;
  top: 0;
  z-index: 3;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  vertical-align: top;
  white-space: normal;
  border: none;
  border-color: transparent;
  border-radius: 8px;
  cursor: pointer;
  height: 50px;
  padding: 5px 15px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  color: #202329;
  -webkit-transition: background-color 0.3s, border-color 0.3s, top 0.3s;
  transition: background-color 0.3s, border-color 0.3s, top 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media only screen and (max-width: 479.5px) {
  .btn {
    width: 100%;
    font-size: 16px;
  }
}
.btn::before, .btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn::before {
  z-index: -2;
}
.btn::after {
  z-index: -1;
  opacity: 0;
}
.btn:hover::before, .btn:active::before {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn:hover::after, .btn:active::after {
  opacity: 1;
}
.btn:active {
  top: 3px;
}
.btn:active::after {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn.text-white {
  color: #fff;
}

.btn--dark-background.btn--border:not(:hover) {
  color: #fff;
}
.btn--dark-background.btn--border.btn--text-white:not(:hover) {
  color: #fff;
}
.btn--border {
  border-width: 1px;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-style: solid;
}
.btn--border:not(:hover):not(:active) {
  color: #202329;
}
.btn--border::before, .btn--border::after {
  opacity: 0;
}
.btn--border:hover {
  border-color: transparent;
}
.btn--border:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn--link {
  padding: 0;
  border-bottom: 1px solid transparent;
  height: auto;
  border-radius: 0;
}
.btn--link::before, .btn--link::after {
  display: none;
}
.btn--link.btn--primary {
  color: #9fc33c;
  border-color: #9fc33c;
}
.btn--sm {
  font-size: 16px;
  height: 44px;
  padding-left: 25px;
  padding-right: 25px;
}
.btn--max {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.btn--primary {
  border-color: #9fc33c;
  color: #fff;
}
.btn--primary.btn--border:not(:hover):not(:active) {
  color: #9fc33c;
}
.btn--primary::before {
  background-color: #9fc33c;
}
.btn--primary::after {
  background-color: #b2cf63;
}

.btn--secondary {
  border-color: #f4f9e5;
}
.btn--secondary::before {
  background-color: #f4f9e5;
}
.btn--secondary::after {
  background-color: white;
}

.btn--white {
  border-color: #fff;
  color: #9fc33c;
}
.btn--white::before {
  background-color: #fff;
}
.btn--white::after {
  background-color: #9fc33c;
}
.btn--white:hover {
  color: #fff;
}

.btn--success {
  border-color: #6fbd15;
  color: #fff;
}
.btn--success.btn--border:not(:hover):not(:active) {
  color: #6fbd15;
}
.btn--success::before {
  background-color: #6fbd15;
  -webkit-box-shadow: 0px 2px 0px 0px #6fbd15, 0px 6px 10px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 0px 0px #6fbd15, 0px 6px 10px 0px rgba(0, 0, 0, 0.12);
}
.btn--success::after {
  background-color: #8ae61f;
  -webkit-box-shadow: 0px 2px 0px 0px #6fbd15;
          box-shadow: 0px 2px 0px 0px #6fbd15;
}

.btn--dangerous {
  border-color: #f10b34;
  color: #fff;
}
.btn--dangerous.btn--border:not(:hover):not(:active) {
  color: #f10b34;
}
.btn--dangerous::before {
  background-color: #f10b34;
  -webkit-box-shadow: 0px 2px 0px 0px #f10b34, 0px 6px 10px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 0px 0px #f10b34, 0px 6px 10px 0px rgba(0, 0, 0, 0.12);
}
.btn--dangerous::after {
  background-color: #f6395b;
  -webkit-box-shadow: 0px 2px 0px 0px #f10b34;
          box-shadow: 0px 2px 0px 0px #f10b34;
}

.btn--without-color {
  color: #202329;
}
.btn--without-color.btn--primary:hover {
  color: #9fc33c;
}
.btn--without-color::before, .btn--without-color::after {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn--disabled {
  color: #202329;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.btn--disabled::before {
  border-color: #f3f3f3;
  background-color: #f3f3f3;
  -webkit-box-shadow: 0px 2px 0px 0px #f3f3f3, 0px 6px 10px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 0px 0px #f3f3f3, 0px 6px 10px 0px rgba(0, 0, 0, 0.12);
}
.btn--disabled::after {
  border-color: #f3f3f3;
  background-color: #f3f3f3;
  -webkit-box-shadow: 0px 2px 0px 0px #f3f3f3;
          box-shadow: 0px 2px 0px 0px #f3f3f3;
}

.btn--loading {
  color: transparent !important;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.btn__loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.btn__loader i {
  margin: 5px;
  background-color: #202329;
  -webkit-animation: loader 1s infinite alternate;
          animation: loader 1s infinite alternate;
}
.btn__loader i:nth-child(1) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.btn__loader i:nth-child(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.btn__loader i:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.btn__loader i:nth-child(4) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.btn__loader i:nth-child(5) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes loader {
  from {
    border-radius: 1px;
    width: 2px;
    height: 2px;
  }
  to {
    border-radius: 10px;
    width: 20px;
    height: 20px;
  }
}

@keyframes loader {
  from {
    border-radius: 1px;
    width: 2px;
    height: 2px;
  }
  to {
    border-radius: 10px;
    width: 20px;
    height: 20px;
  }
}
.section {
  position: relative;
  padding-top: 130px;
  padding-bottom: 130px;
}
@media only screen and (max-width: 991.5px) {
  .section {
    padding: 80px 0;
  }
}
.section__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: center top/cover no-repeat;
  z-index: -1;
}
.section__heading {
  text-align: center;
  margin-bottom: 65px;
}
@media only screen and (max-width: 991.5px) {
  .section__heading {
    margin-bottom: 40px;
  }
}
.section__heading--subtitle {
  margin-top: -30px;
}
@media only screen and (max-width: 991.5px) {
  .section__heading--subtitle {
    margin-top: -10px;
  }
}
.section--pt-0 {
  padding-top: 0;
}
.section--pb-0 {
  padding-bottom: 0;
}

@media only screen and (min-width: 1230px) {
  .container {
    max-width: 1400px;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header-height {
  height: 90px;
}

.logo img {
  display: inline-block;
  width: 98px;
  height: 34px;
}
@media only screen and (max-width: 991.5px) {
  .logo img {
    width: 98px;
    height: 34px;
  }
}
.logo--lg img {
  width: 211px;
  height: 74px;
}
@media only screen and (max-width: 991.5px) {
  .logo--lg img {
    width: 144px;
    height: 50px;
  }
}

@media only screen and (max-width: 766.5px) {
  .main__title, .main__subtitle {
    text-align: left;
  }
}
.main__title {
  margin-bottom: 45px;
}
@media only screen and (max-width: 991.5px) {
  .main__title {
    margin-bottom: 25px;
  }
}
.main__subtitle {
  margin-bottom: 50px;
}
.main__img {
  margin-top: 60px;
}
@media only screen and (max-width: 766.5px) {
  .main__img {
    margin-top: 100px;
    margin-left: -30px;
    margin-right: -30px;
  }
}
.main__img img {
  max-width: 100%;
}

.s-main {
  text-align: center;
  padding-top: 40px;
}
.js-no-webp .s-main__bg {
  background-image: url(../img/bg/main.jpg);
}
.js-webp .s-main__bg {
  background-image: url(../img/bg/main.webp);
}

@media only screen and (max-width: 991.5px) {
  .governace__subtitle br {
    display: none;
  }
}
.governace__items {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.governace__items-item {
  text-align: center;
}
.governace__items-bg {
  background: linear-gradient(45deg, #e5fdcc 0%, #b9f2de 100%);
  border-radius: 12px;
}
.governace__items-bg::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background-color: #fff;
  border-radius: inherit;
}
.governace__items-icon {
  display: block;
  height: 48px;
  width: 48px;
  line-height: 48px;
  border-radius: 50%;
  background-color: #f7ffe2;
  margin: 0 auto 20px;
  position: relative;
}
.governace__items-icon::before {
  content: "";
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  border-radius: inherit;
  background-color: #ebffb6;
  z-index: 1;
}
.governace__items-icon svg,
.governace__items-icon img {
  position: relative;
  z-index: 2;
}
.governace__items-title {
  font-size: 20px;
}
.governace__items-descr {
  color: #797e92;
  margin-top: 5px;
}

@media only screen and (max-width: 991.5px) {
  .s-governace {
    padding-bottom: 0;
  }
}

.platform__items {
  margin-bottom: -95px;
}
@media only screen and (min-width: 1230px) {
  .platform__items {
    padding-top: 35px;
  }
}
.platform__items-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 95px;
}
@media only screen and (max-width: 991.5px) {
  .platform__items-item {
    margin-bottom: 60px;
  }
}
@media only screen and (min-width: 992px) {
  .platform__items-item:nth-child(2n+1) .platform__items-img {
    margin-right: -80px;
    width: auto;
  }
  .platform__items-item:nth-child(2n) .platform__items-text {
    margin-left: auto;
  }
  .platform__items-item:nth-child(2n) .platform__items-img {
    margin-left: -80px;
  }
  .platform__items-item:nth-child(2n) > div:first-child {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
}
.platform__items-text {
  max-width: 555px;
}
.platform__items-title {
  font-weight: 500;
  padding-left: 45px;
  position: relative;
}
@media only screen and (max-width: 991.5px) {
  .platform__items-title {
    padding-left: 40px;
  }
}
.platform__items-title::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  width: 36px;
  height: 36px;
  background-image: url("../img/icons/check.svg");
  background-size: cover;
  background-position: center;
}
@media only screen and (max-width: 991.5px) {
  .platform__items-title::before {
    height: 32px;
    width: 32px;
  }
}
.platform__items-descr {
  margin-top: 15px;
  font-size: 18px;
  line-height: 1.5;
}
@media only screen and (max-width: 991.5px) {
  .platform__items-descr {
    font-size: 16px;
    line-height: 1.7;
  }
}
.platform__items-img {
  background-color: #101828;
  border: 4px solid #101828;
  border-radius: 10px;
  -webkit-box-shadow: 12px 16px 41.5px rgba(32, 55, 43, 0.1);
          box-shadow: 12px 16px 41.5px rgba(32, 55, 43, 0.1);
  width: auto;
}
@media only screen and (max-width: 991.5px) {
  .platform__items-img {
    margin-top: 30px;
  }
}

@media only screen and (min-width: 992px) {
  .s-platform {
    padding-top: 100px;
    padding-bottom: 95px;
  }
}
.s-platform__decor {
  position: absolute;
  background: center/contain no-repeat;
}
.s-platform__decor--1 {
  top: 0px;
  right: 50%;
  margin-right: 650px;
  width: 566px;
  height: 1665px;
  background-image: url("../img/bg/platform-decor-1.png");
}
.s-platform__decor--2 {
  top: 1035px;
  left: 50%;
  margin-left: 430px;
  width: 1865px;
  height: 1542px;
  background-image: url("../img/bg/platform-decor-2.png");
}

.act__inner {
  padding: 48px 30px;
  background-color: #f4f9e5;
  border-radius: 20px;
}
@media only screen and (max-width: 991.5px) {
  .act__inner {
    padding: 30px 16px;
  }
}
@media only screen and (min-width: 992px) {
  .act__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.act__title {
  margin-bottom: 0;
  padding-left: 135px;
  position: relative;
  max-width: 400px;
  text-align: left;
}
@media only screen and (max-width: 991.5px) {
  .act__title {
    padding-left: 100px;
    line-height: 1.3;
  }
}
.act__title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 103px;
  height: 104px;
  background: #fff center/auto no-repeat;
  background-image: url("../img/icons/arrow-up-right.svg");
  border-radius: 20px;
}
@media only screen and (max-width: 991.5px) {
  .act__title::before {
    width: 84px;
    height: 84px;
    background-size: 70px;
  }
}
@media only screen and (min-width: 992px) {
  .act__title::after {
    content: "";
    position: absolute;
    top: -15px;
    left: 100%;
    margin-left: -105px;
    width: 572.5px;
    height: 87.02px;
    background: transparent center/cover no-repeat;
    background-image: url("../img/bg/act-arrow.png");
  }
}
.act__btns {
  margin-top: 40px;
}

.s-act {
  padding: 40px 0 60px;
}
@media only screen and (max-width: 991.5px) {
  .s-act {
    padding: 20px 0;
  }
}

.footer {
  background-color: #f9f9f9;
  padding: 40px 0;
}
@media only screen and (min-width: 992px) {
  .footer__content {
    margin-left: 35px;
  }
}
@media only screen and (max-width: 991.5px) {
  .footer__content {
    margin-top: 40px;
  }
}
@media only screen and (max-width: 575.5px) {
  .footer__content {
    font-size: 14px;
    line-height: 2;
    letter-spacing: -0.01em;
  }
}